


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="امانت بار , امانت بار تهران , اسباب کشی , اسباب کشی منزل , اثاث کشی منزل , حمل اثاثیه منزل , اثاثیه منزل , اتوبار , بسته بندی اثاثیه منزل , باربری , قیمت باربری , نرخ باربری , حمل ونقل و باربری ,">
    <meta name="description" content="امانت بار تهران مفتخر است با بهتربن ماشین ها و رانندگان ماهر به تمامی شهروندان عزیز تهران، در مناطق مختلف که شامل غرب، شرق و شمال  تهران می باشد سرویس دهی لازم را انجام دهد">

    <link rel="canonical" href="https://amanatbartehran.ir/">
    <!-- Add Your favicon here -->
    <!--<link rel="icon" href="img/favicon.ico">-->

    <title>حمل و نقل اسباب اساسی منزل و محل کار - امانت بار تهران</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link href="~/media/endUser/css/main.css" rel="stylesheet" />

</head>
<body id="page-top">
    @Html.Partial("_Header")
    <section class="body-content">
        @RenderBody()
    </section>
    @Html.Partial("_Footer")

    <script src="~/media/endUser/js/jquery-2.1.1.js"></script>
    <script src="~/media/endUser/js/bootstrap.min.js"></script>
    <script src="~/media/endUser/js/persianumber.min.js"></script>
    <script src="~/media/endUser/js/main.js"></script>
    <script src="~/media/admin/js/plugins/ckeditor/ckeditor.js"></script>
    <script src="~/media/admin/js/plugins/ckeditor/fa.js"></script>
    @RenderSection("scripts", required: false)

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125594291-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-125594291-1');
    </script>

</body>
</html>
