


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="امانت بار تهران مفتخر است با بهتربن ماشین ها و رانندگان ماهر به تمامی شهروندان عزیز تهران، در مناطق مختلف که شامل غرب، شرق و شمال  تهران می باشد سرویس دهی لازم را انجام دهد">
    <meta name="author" content="">
    <!-- Add Your favicon here -->
    <!--<link rel="icon" href="img/favicon.ico">-->

    <title>حمل و نقل اسباب اساسی منزل و محل کار - امانت بار تهران</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <!-- Bootstrap core CSS -->
    <link href="~/media/endUser/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/media/endUser/css/bootstrap.css" rel="stylesheet" />

    <link href="~/media/endUser/css/bootstrap-rtl.css" rel="stylesheet" />
    <link href="~/media/endUser/css/baseStyle.css" rel="stylesheet" />
    <!-- Animation CSS -->
    <link href="~/media/endUser/css/animate.min.css" rel="stylesheet">

    <link href="~/media/endUser/css/index.css" rel="stylesheet">
    <link href="~/media/endUser/css/mediaScreen.css" rel="stylesheet" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- Custom styles for this template -->
    <!--<link href="css/style.css" rel="stylesheet">-->
</head>
<body id="page-top">
    @Html.Partial("_Header")
    <section class="body-content">
        @RenderBody()
    </section>
    @Html.Partial("_Footer")

    <script src="~/media/endUser/js/jquery-2.1.1.js"></script>
    <script src="~/media/endUser/js/bootstrap.min.js"></script>
    <script src="~/media/endUser/js/persianumber.min.js"></script>
    <script src="~/media/endUser/js/main.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>

