

<footer>
    <div class="container-fluid bg-1 white">
        <div class="container ">
            <div class="row ">

                <div class="col-md-6 col-sm-12">
                    تمامی حقوق این وب سایت به امانت بار تهران متعلق می باشد.
                </div>
                <div class="col-md-6 col-sm-12 text-left">
                    © 2017-2018 Tehran Bar. Design By Negah Studio
                </div>
            </div>
        </div>
    </div>
</footer>