

<footer>
    <div class="container-fluid bg-1 white">
        <div class="container ">
            <div class="row ">

                <div class="col-md-12 col-sm-12 text-center">
                    تمامی حقوق این وب سایت به امانت بار تهران متعلق می باشد.
                </div>
                
            </div>
        </div>
    </div>
</footer>