

<footer>
    <div class="container-fluid ">
        <div class="container ">
            <div class="row ">

                <div class="col-md-12 col-sm-12">
                    <div class="row">

                        <div class=" col-md-4 col-sm-12  layout">
                            <a href="/" class="logo">
                                <img src="~/media/endUser/img/logo.png" alt="حمل و نقل اسباب اساسی منزل و محل کار - امانت بار تهران" title="حمل و نقل اسباب اساسی منزل و محل کار - امانت بار تهران" />
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-12 layout">
                            <h5 class="title">لینک های مفید</h5>
                            <ul class="link">
                                <li><a href="~/AboutMe/Index">درباره ما</a></li>
                                <li><a href="~/List/AreaList">محله ها</a></li>
                                <li><a href="~/list/newsList">وبلاگ</a></li>
                                <li><a href="~/home/Tariffs">تعرفه ها</a></li>
                                <li><a href="~/home/contact">تماس با ما</a></li>
                            </ul>
                        </div>
                        <div class="col-md-4 col-sm-12 layout">
                            <h5 class="title">شبکه های اجتماعی</h5>
                            <a href="/"  class="social instagram">
                                <div target="_blank">
                                    <i class="fab fa-instagram"></i>
                                    اینستاگرام
                                </div>

                            </a>
                            <div class="social telegram">
                                <a href="/" target="_blank">
                                    <i class="fab fa-telegram-plane"></i>
                                    تلگرام
                                </a>
                            </div>

                        </div>
                        <div class="col-md-12 col-sm-12 copy-right">
                            <span>تمامی حقوق این وب سایت به امانت بار تهران متعلق می باشد.</span>
                        </div>
                    </div>

                </div>

                

            </div>
        </div>

      

    </div>

</footer>