<header class="navbar-wrapper">

    <div class="container">
        <nav class="navbar " role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>


                    <a class="navbar-brand" href="/">
                        <img src="~/media/endUser/img/logo.png" alt="حمل و نقل اسباب اساسی منزل و محل کار - امانت بار تهران" title="حمل و نقل اسباب اساسی منزل و محل کار - امانت بار تهران" />
                        <h1 class="display-none">حمل و نقل اسباب اساسی منزل و محل کار - امانت بار تهران</h1>
                    </a>
                    <div class="header-phone color-1">
                        <i class="fa fa-phone"></i>
                        <span class="color-2">09189698825 - 09126902264</span>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                        <ul class="nav navbar-nav">
                            <li class="close-menu">
                                <i class="fa fa-arrow-right"></i>
                            </li>
                            <li><a href="~/AboutMe/Index">درباره ما</a></li>
                            <li><a href="~/List/AreaList">محله ها</a></li>
                            <li><a href="~/list/newsList">وبلاگ</a></li>
                            <li><a href="~/home/Tariffs">تعرفه ها</a></li>
                            <li><a href="~/home/Contact">تماس با ما</a></li>
                        </ul>


                    </div>
                </div>

            </div>
        </nav>
    </div>

</header>