<header class="navbar-wrapper">

    <div class="container">
        <nav class="navbar " role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>


                    <a class="navbar-brand" href="#">
                        <img src="~/media/endUser/img/logo.png" alt="امانت بار تهران" title="امانت بار تهران" />
                    </a>
                    <div class="header-phone color-1">
                        <i class="fa fa-phone"></i>
                        <span class="color-2">021-44663345 , 09189834147</span>
                    </div>
                </div>
             
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                    <ul class="nav navbar-nav">
                        <li class="close-menu">
                            <i class="fa fa-arrow-right"></i>
                        </li>
                        <li class="active"><a href="">درباره ما</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">مناطق <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">شمال تهران</a></li>
                                <li><a href="#">غرب تهران</a></li>
                                <li><a href="#">شرق تهران</a></li>
                            </ul>
                        </li>
                        <li><a class="page-scroll" href="">نکات مهم</a></li>
                        <li><a class="page-scroll" href="">تماس با ما</a></li>
                    </ul>


                </div>

            
                <!-- Collect the nav links, forms, and other content for toggling -->

                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    </div>

</header>