@model List<IdentityExample.DomainClasses.SubFreeContent>

@{
    ViewBag.Title = "Services";
    Layout = "";
}

<section id="package" class="container-width">
    @foreach (var item in Model)
    {
        <img class="package-img" alt="@item.Image.Name" title="@item.Image.Name" src="~/upload/@item.Image.Url" />
    }
</section>




