@model List<IdentityExample.DomainClasses.SubFreeContent>

@{
    ViewBag.Title = "Services";
    Layout = "";
}

<section id="package" class="container-width">
    @foreach (var item in Model)
    {
        <img class="package-img" alt="حمل و نقل اسباب اساسی منزل و محل کار - امانت بار تهران" title="حمل و نقل اسباب اساسی منزل و محل کار - امانت بار تهران" src="~/upload/@item.Image.Url" />
    }
</section>




