@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_EndUserLayOut.cshtml";
}
<section class="contact-page section-lg bg-default">
    <div class="container">
        <div class="col-md-6 col-lg-6 col-xl-6">
            <!-- Bootstrap tabs-->
            <div class="contact-section">
                <h2>اطلاعات تماس</h2>
                <ul class="contact-box">
                    <li>
                        <div class="unit-icon color-2"><span class="fa fa-map-marker"></span></div>
                        <div class="unit-body">تهران - شهدای کن - پایین خ احمد کاشانی - خ حاج فتاح، پلاک 12 اتاق 9</div>
                    </li>
                    <li>

                        <div class="unit-icon color-2"><span class="fa fa-phone-square"></span></div>
                        <div class="unit-body">
                            <a href="tel:#">0918-969-8825</a>
                            <a href="tel:#">0912-690-2264</a>
                        </div> 
                    </li>
                    <li>
                        <div class="unit-icon color-2"><span class="fa fa-envelope-square"></span></div>
                        <div class="unit-body"><a class="hover-text" href="mailto:#">info@amanatbartehran.org</a></div>
                    </li>
                </ul>
            </div>
            @*<div class="group group-middle social-items">
                    <a class="icon icon-md icon-gray-400 novi-icon mdi mdi-facebook" href="#"></a>
                    <a class="icon icon-md icon-gray-400 novi-icon mdi mdi-twitter" href="#"></a>
                    <a class="icon icon-md icon-gray-400 novi-icon mdi mdi-instagram" href="#"></a>
                    <a class="icon icon-md icon-gray-400 novi-icon mdi mdi-facebook-messenger" href="#">
                    </a><a class="icon icon-md icon-gray-400 novi-icon mdi mdi-linkedin" href="#"></a>
                    <a class="icon icon-md icon-gray-400 novi-icon mdi mdi-snapchat" href="#"></a>
                </div>*@
        </div>
        <div class="col-md-6 col-lg-6">
            <div class="contact-section">
                <h4>فرم تماس با ما</h4>
                <!-- RD Mailform-->
                <form name="frm-contact" onsubmit="return false">
                    <div class="form-wrap fg-line">
                        <input id="contact-name" name="name" placeholder="نام و نام خانوادگی" type="text">
                        <label id="name-error" for="contact-name" class="has-error has-feedback check_valid display-none"></label>
                    </div>
                    <div class="form-wrap fg-line">
                        <input id="contact-title" name="title" placeholder="عنوان" type="text">
                        <label id="title-error" for="contact-title" class="has-error has-feedback check_valid display-none"></label>
                    </div>
                    <div class="form-wrap fg-line">
                        <input id="contact-email" name="email" placeholder="ایمیل" type="text">
                        <label id="email-error" for="contact-email" class="has-error has-feedback check_valid display-none"></label>
                    </div>
                    <div class="form-wrap fg-line">
                        <textarea id="contact-message" name="message" placeholder="پیغام"></textarea>
                        <label id="message-error" for="contact-message" class="has-error has-feedback check_valid display-none"></label>
                    </div>
                    <button id="submit-cantact" class="btn-cantact bg-2" type="submit">ارسال</button>
                </form>
            </div>

        </div>
    </div>
</section>