
@{
    ViewBag.Title = "Area";
    Layout = "";
}
<section id="whe-here" class="container-width  margin-tb">
    <div class="container">
        <div class="row ">
            <h2 class="color-1 header-h2 text-center">مناطق قابل سرویس</h2>
            <p class="text-center color-1">ما در مناطق شمال، غرب و شرق تهران بهترین سرویس دهی را به شما ارائه می دهیم .</p>
            <article class="col-md-4 col-sm-4">
                <a href="" class="street-layout transition">
                    <div class="comment transition">
                        <i class="fa fa-comment-o"></i>
                        23
                    </div>
                    <p class="transition">
                        <i class="fa fa-clock-o"></i>
                        جمعه 6 بهمن 1396
                    </p>
                    <img src="~/media/endUser/img/street1.jpg" class="img-responsive transition" />
                    <h3 class="transition">
                        <i class="fa fa-map-marker"></i>
                        محله صادقیه
                    </h3>

                </a>
            </article>
            <article class="col-md-4 col-sm-4">
                <a href="" class="street-layout transition">
                    <div class="comment transition ">
                        <i class="fa fa-comment-o"></i>
                        6
                    </div>
                    <p class="transition">
                        <i class="fa fa-clock-o"></i>
                        جمعه 6 بهمن 1396
                    </p>
                    <img src="~/media/endUser/img/street2.jpg" class="img-responsive transition" />
                    <h3 class="transition">
                        <i class="fa fa-map-marker"></i>
                        محله میرداماد
                    </h3>

                </a>
            </article>
            <article class="col-md-4 col-sm-4">
                <a href="" class="street-layout transition">
                    <div class="comment transition">
                        <i class="fa fa-comment-o"></i>
                        12
                    </div>
                    <p class="">
                        <i class="fa fa-clock-o"></i>
                        جمعه 6 بهمن 1396
                    </p>
                    <img src="~/media/endUser/img/street3.jpg" class="img-responsive transition" />
                    <h3 class="transition">
                        <i class="fa fa-map-marker"></i>
                        محله تجریش
                    </h3>

                </a>
            </article>
            <div class="col-md-12 col-sm-12">
                <a href="" class="button">
                    <span> تمام محله ها</span>
                </a>
            </div>
        </div>
    </div>

</section>

