@model IdentityExample.DomainClasses.SubFreeContent

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_EndUserLayOut.cshtml";
    var item = Model;
}



<div class="container">
    
   
          <div class="row">
              <article class="col-md-6 col-sm-6">
                  <img class="img-responsive transition" alt="@item.Image.Name" title="@item.Image.Name" src="~/upload/@item.Image.Url" />
              </article>
              <article class="col-md-6 col-sm-6">
                  <h2 class="">
                      @item.Title
                  </h2>
                  <p>
                      @item.LongDescription
                  </p>
              </article>
          </div>

         

     

      

        
      


</div>

