
@{
    ViewBag.Title = "Services";
    Layout = "";
}


<section class="container-width margin-tb">
    <div class="container ">
        <div class="row ">
            <h2 class="color-1 header-h2 text-center">خدمات امانت بار تهران</h2>
            <p class="text-center">ما در امانت بار تهران انواع ماشین های حمل و نقل، کارگران و به خصوص بسته بندی وسایل منزل می پردازیم.</p>

            <article class="col-md-4 col-sm-4">
                <div class="service-layout">
                    <div class="service-img">
                        <img src="~/media/endUser/img/truck.png" />
                    </div>
                    <h2 class="color-2"> ماشین ها </h2>
                    <p>امانت بار تهران مفتخر است با بهتربن ماشین ها و رانندگان ماهر به تمامی شهروندان عزیز تهران، در مناطق مختلف که شامل غرب، شرق و شمال  تهران می باشد سرویس دهی لازم را انجام دهد.  </p>
                    <a href="" class="button">
                        <span>بشتر بدانید</span>
                    </a>
                </div>
            </article>
            <article class="col-md-4 col-sm-4">
                <div class="service-layout">
                    <div class="service-img">
                        <img src="~/media/endUser/img/worker.png" />
                    </div>
                    <h2 class="color-2">کارگران  </h2>
                    <p>ما با کارگران ماهر و زبر دست، بهترین سرویس دهی را به شما شهروندان عزیز تهرانی ارائه می دهیم که بدون هیچ خسارتی به اموال شما، حمل و نقل  با بهترین کیفیت اسباب و اساسی شما جا به جا شوند.</p>
                    <a href="" class="button">
                        <span>بشتر بدانید</span>
                    </a>

                </div>
            </article>
            <article class="col-md-4 col-sm-4">
                <div class="service-layout">
                    <div class="service-img">
                        <img src="~/media/endUser/img/package.png" />
                    </div>
                    <h2 class="color-2">بسته بندی  </h2>
                    <p>بسته بندی یکی از مهمترین مسأله در حمل و نقل  اسباب و اساسی منزل می باشد ما با بسته بندی با کیفیت، وسایل شما را بسته بندی کرده و با اطمینان خاطر شما آنها را جابه جا می کنیم. </p>
                    <a href="" class="button">
                        <span>بشتر بدانید</span>
                    </a>

                </div>

            </article>

        </div>
    </div>

</section>
