
@{
    ViewBag.Title = "Silder";
    Layout = "";
}
<div id="div-layerSlider-place">
    <div id="div-layerSlider-can">

        <a class="a_slider_mob" href="#">
            <img src="~/media/endUser/img/mt-0995-home-slider-01.jpg" class="img_slider_mob img-responsive" alt="1" title="1" />
        </a>
    </div>


    <a id="slider-forward"> <span class="fa fa-angle-right"></span> </a>
    <a id="slider-backward"><span class="fa fa-angle-left"></span> </a>

    <div id="div-slider-btn-can">
        <div id="div-slider-btn-place">

            <a id="slider-pin-1" class="slider-pin" href="#" data-index="1"></a>
            <!--<a id="slider-pin-2" class="slider-pin" href="#" data-index="2"></a>-->
        </div>
    </div>

</div>
