
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_EndUserLayOut.cshtml";
}

<section class="contact-page section-lg ">
    <div class="container">
        <div class="col-md-12 col-lg-12 col-xl-12">
            <!-- Bootstrap tabs-->
            <div class="contact-section">
                <h4>درباره ما</h4>

            </div>
        </div>
        <div class="col-md-12 col-lg-12 col-xl-12">
            @Html.Action("Services", "AboutMe")
        </div>
    </div>
</section>



