
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_EndUserLayOut.cshtml";
}

<section class="contact-page section-lg ">
    <div class="container">
        <div class="col-md-12 col-lg-12 col-xl-12">
            <!-- Bootstrap tabs-->
            <div class="contact-section">
                <h4>درباره ما</h4>
                <p class="text-justify">
                    مفهوم باربری و اتو بار
                    باربری یا اتوباردر معنای کلی خود به جابجايي و انتقال :

                </p>
                <p class="text-justify">
                    •	انسان
                    <br />
                    •	کالا
                    <br />
                    •	اموال
                </p>
                <br />
                <h5 class="color-2">تاریخچه باربری واتو بار</h5>
                <p class="text-justify">
                    یکی از مسائلی که از زمانهای گذشته تا به حال برای انسان ها مهم بوده و آنها را به فکر واداشته که به آن توجه کنند جا به جایی می باشد که در پیشرفت و توسعه تمدنها نقش داشته است.
                </p>
                <br />
                <p class="text-justify">
                    انسان در طول دوران متفاوت زندگی خود ناگزیر بوده که مایحتاج زندگی، بذر کشاورزی، محصولات و سایر موارد را از مکانی به مکان دیگر منتقل کند. در ابتدا انسان به صورت پیاده و حیوانات ای جابجایی ها را انجام می داد این نوع جابجایی افزون بر سختی و مشکلات مخصوص خود از نظر زمانی بسیار کند بود بعضی از این سفرها چندین ماه طول می کشید. همین موضوع موجب شده که انسان هر روزه در جهت توسعه این صنعت گام بردار به گونه ای که در نخستین گام ها انسان به فکر اختراع چرخ افتاد وبا استفاده از چرخ و حیوانات نخستین گاری ها و درشکه ها را برای حمل ونقل ساختند و به همین شکل این سیر تحول با توجه به محیط زندگی  آنها به اشکال مختلف و متفاوت ادامه یافت.
                </p>
                <br />
                <p class="text-justify">
                    ساخته شدن ماشین بخار در قرن هیجدهم و بکارگیری ان در قرن نوزدهم زمینه اتفاقات جدیدی در صنعت جابجایی و حمل و نقل را فراهم نمود .با وقوع انقلاب صنعتی دراواخر قرن نوزدهم تحولات بنیادی وبزرگی درصنعت حمل و نقل و جابجایی رخ داد. تا قبل از اینکه ماشین بخار توسعه یابد، به دلیل هزینه زیاد و کارایی کم حمل و نقل زمینی، جا به جایی صنعتی و تجاری از طریق دریا انجام می پذیرفت. نخست وسائل حمل ونقل دریایی و پس از آن وسایل حمل ونقل زمینی به این تکنولوژی مجهز شدند وهمین موضوع  موجب شد انقلاب صنعتی به وقوع بپیوندد.
                </p>
                <br />
                <p class="text-justify">
                    جابجایی و حمل و نقل انسان و کالا با ساخت لوکوموتیو، ترن ،قطار، کشتی، روالی سریع و آسان به خود گرفت،و در ادامه نیز با ورود به عصر تکنولوژی و  پیدایش غول های حمل و نقل مانند هواپیما و کشتی های باربری برای فاصله های بسیار طولانی بین قاره ای موجب شد تا نگرانی هایی که تا قبل این در مورد طولانی شدن زمان حمل ونقل و نابودی یا خراب شدن کالا یا وسایل در طول مدت جابجایی به طور قابل ملاحظه ای کاهش یابد به گونه ای که در حال حاضر تجارت و جابه جایی بین شهرها و کشورها و حتی قاره ها در حجم های زیاد امری بدیهی می باشد و جای هیچ نگرانی نیست
                </p>
                <br />

                <h5 class="color-2">تاریخچه باربری در ایران</h5>

                <p class="text-justify">
                    ایران ما با توجه به تمدن باستانی کهن خود درصنعت راه و راهسازی و جابجایی، باربری، اتوبار و حمل و نقل دارای پیشینه ای طولانی می باشد که می توان آن را در دوران باستان ودر دیگر دوره های مشاهده نمود.در نتیجه خصوصیات ها و شرایطی که بر ایران زمین حاکم بوده را می توان دلیل روی آوردن ایرانیان به مسئله راه سازی و ارتقاء مهارت های خود در این زمینه دانست ایرانیان 700 سال قبل از میلاد، در حرفه ی ساخت شناور و دریانوردی مشغول بوده اند و همین موضوع عاملی بود که باعث شد آنها دریاهای اطراف در طی قرن ها مهارت و حاکمیت خود را حفظ کنند ، شرایط جغرافیایی و تمدن ایران باستان و ارتباط ایرانیان با مصریان و ملت های مشرق زمین و خاورمیانه موجب تبادل فرهنگی شد و تمدن توسط ایرانیان توسعه یافت.
                </p>
                </br>
                <p class="text-justify">
                    در دوران هخامنشی مراودات مالی و بازرگانی، گسترش تسهیلات جابجایی و حمل و نقل و توسعه ی راههای ارتباطی و مسئله امنیت و حفاظت راه ها برای دست یابی به اهداف اقتصادی و اجتماعی از رکن های بسیار با اهمیت محسوب می شد. با گذشت زمان و در دوره اشکانیان تجارت و حمل و نقل و سیستم های باربری توسعه یافته و پر رونق تر عمل می کردند این روند همچنان ادامه داشت تا آنجا که پیشرفت تجارت در دوران ساسانیان به جایی رسید که حمل و نقل و تجارت بین المللی جایگاه و اهمیت ویژه ای یافت و زمینه گسترش حمل و نقل و جابه جایی تا آفریقا و اروپا امکان پذیر شد.
                </p>
                <br />
                <p class="text-justify">
                    ایران که از گذشته های دور در مسیر جاده ابریشم که از بی نظیر ترین و شاخص ترین راه های جهان محسوب می شود وملقب به شاهراه بین‌المللی می باشد قرار دارد.ایران در راستای حفظ این جایگاه ویژه جهانی، با احداث استراحتگاه و امکانات جنبی به گسترش امور حمل و نقل پرداخته و اولین تشكیلات حمل و نقل كشور با نام دیوان یا "دیوان برید" را زیر نظر حكومت اداره و مسئولیتهای راه و ترابری حال را برعهده دارد و حفظ، نگهداری و ترمیم راه‌ها نیز از وظایف آن بود.
                </p>
                <br />
                <h5 class="color-2">
                    تاریخچه باربری نقشه جاده ابریشم
                </h5>
                <p class="text-justify">
                    حرفه ی رانندگی چه راننده سواری و چه کامیون ها در دوران قاجار جزء مشاغل  بسیار با ارزش و مهم به شمار می رفت. کامیون ها بین شهرهای داخل کشور بار جابجا می کردند و برای این کار قدرت زیادی نداشتند وهمچنین سرعت شان نیز بسیار کند بود و ساختار غیرمهندسی راه ها نیز مزید بر علت می شد، ناگهان در زمان جنگ جهانی دوم ایران دچار تحولات بزرگی شد وآن حمل و نقل هزاران تن بار از بندرهای جنوب (بندر امام خمینی یا شاپور و بندر خرمشهر) به مقاصدی همچون مرزهای شمالی کشور و مرزجمهوری آذربایجان وجمهوری ترکمنستانبود که از مسیر جلفا و تبریز انجام می گرفت.
                </p>
                <br />
                <h5 class="color-2">
                    قدیمی ترین نفت کش زمان قاجار
                </h5>
                <p class="text-justify">
                    یک شرکت انگلیسی به نام  UKCC یمجموعه بزرگ را اداره می کردند که در طی آن روزانه صدها کامیون که همگی آنها رانندگانی ایرانی داشتند مشغول باربری از مبدا به مقصد بودند. این شرکت ده ها کارمند ایرانی و انگلیسی که به زبان انگلیسی آشنا بودند را در اختیار داشت . مکانیسم باربری و اتوبار کشورمان از این مسئله تاثیر بسیار خوبی پذیرفت. مالک های تجاری بعد از جنگ جهانی دوم در حمل و نقل یکه تاز بودند و باربری ایران را بسیار رئنق بخشیدند
                </p>
                <br />
                <p class="text-justify">
                    در سال 1285 نخستین ساختار تشكیلاتی كشوربه روش جدید با نام "اداره كل طرق و شوارع" در" وزارت فواید عامه" کار خود را آغاز نمود . در این دوره سیستم حمل و نقل جهانی متحول شد، که در راستای جوابگویی به نیازهای جدید، وزارت راه و ترابری که مدیریت حمل و نقل کشور را بر عهده داشت به چهار بخش عمده تقسیم شد که عبارتند از:
                </p>
                <p class="text-justify">
                    •	معاونت حمل و نقل جاده‌ای
                    •	شركت راه‌آهن جمهوری اسلامی‌ایران
                    •	هواپیمایی جمهوری اسلامی‌ایران
                    •	سازمان بنادر و كشتیرانی
                </p>
                <br />
                <p class="text-justify">
                    چندی بعد مسئولیت معاونت حمل و نقل جاده‌ای كشوربه سازمان حمل و نقل و پایانه‌های كشور محول گردید . اکثر راه‌های كشور تا قبل از قرن اخیر عمدتاً خاكی بودند؛ که با گذشت زمان و دست یابی به تکنولوژی های جدید به تدریج احداث بزرگراه ها و جاده های آسفالته در دستور کار قرار گرفت ودر پی آن وسایل حمل و نقل و جابه جایی نیز پیشرفته تر شدند.
                </p>
                <br />
                <p class="text-justify">
                    خطوط راه آهن نیز با گذشت زمان توسعه یافته و پیشرفت قابل ملاحظه ای داشته اند و این مسئله حمل و نقل محموله های عظیم و سنگین بین مناطق مختلف را آسان نمود. ناگفته نماند سیستم های هوایی نیز مانند سایر بخش ها در حمل و نقل تاثیر گذار بوده و زمان سفررا کاهش داده و حمل بار نیز به سهولت انجام می پذیرد.
                    در حال حاضر و همگام با توسعه تکنولوژی های جدید و دنیای دیجیتال به آسانی می توان به شرکت های اتوبار و شرکت هایی که خدمات حمل بار انجام می دهند دسترسی پیدا نمود.

                </p>

            </div>
        </div>
        <div class="col-md-12 col-lg-12 col-xl-12">
            @Html.Action("Services", "AboutMe")
        </div>
    </div>
</section>



