
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_EndUserLayOut.cshtml";
}

<section class="contact-page section-lg ">
    <div class="container">
        <div class="col-md-12 col-lg-12 col-xl-12">
            <!-- Bootstrap tabs-->
            <div class="contact-section">
                <h4>درباره ما</h4>
                <p class="text-justify">
                    امانت بار تهران مفتخر است با بهتربن ماشین ها و رانندگان ماهر به تمامی شهروندان عزیز تهران، در مناطق مختلف که شامل غرب، شرق و شمال تهران می باشد سرویس دهی لازم را انجام دهد.
                    بسته بندی یکی از مهمترین مسأله در حمل و نقل اسباب و اساسی منزل می باشد ما با بسته بندی با کیفیت، وسایل شما را بسته بندی کرده و با اطمینان خاطر شما آنها را جابه جا می کنیم.
                    ما با کارگران ماهر و زبر دست، بهترین سرویس دهی را به شما شهروندان عزیز تهرانی ارائه می دهیم که بدون هیچ خسارتی به اموال شما، حمل و نقل با بهترین کیفیت اسباب و اساسی شما جا به جا شوند.
                </p>
            </div>
        </div>
        <div class="col-md-12 col-lg-12 col-xl-12">
            @Html.Action("Services", "AboutMe")
        </div>
    </div>
</section>



